.login{
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  opacity: 0.80;
  background-color:  #ffffff;
  margin-top: 50px;
  margin-bottom: 5%;

}

.signup{
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  opacity: 0.85;
  background-color:  #ffffff;
  margin-top: 50px;
  margin-bottom: 5%;

}

.bglogin{
  background-image: url('/login/bg-login1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
  /* object-fit: cover; */
  background-position: center ;


}

.login-err{
  font-size: small !important;
   padding-left: 15px !important;
    margin-bottom: 5px !important;
    opacity: 1;

}
